.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.school-icon {
  font-size: 24px;
}

.user-profile-picture {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDxvBDt7JmjGtlH46Trpo4_glxF0fEb0Q6tw_-DNegpSVyawmvVX_mZBP1oY0kPxnYCPkK-QX6hOVDLP2V0YkCCc-Z6ejdj0LAs-UAdkXTIoSRmrok8TA2TPmJz2z9AD87EpKGQs-k3YJir_sD1Nhm1HyjZoGzIYYR-VnPIV2iUUsb_FZkObG7YzKOummLgnc_N6LNcHStCmfKrBeAMtFm7fbnL7FgAnkukNawalrdIBDMWr7Prp4qeeKSGhuchrw7f3XXiv14GxCI");
}
